<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyberSlacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CyberSlacker.Properties.Temp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CyberSlacker.AppConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CyberSlacker.Temp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CyberSlacker.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>08:30</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>17:30</value>
            </setting>
            <setting name="PayDay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MealTime" serializeAs="String">
                <value>11:50</value>
            </setting>
            <setting name="WorkMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HolidayCacheJson" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHolidayUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaydayStrategy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="IsLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LunchStart" serializeAs="String">
                <value>12:00</value>
            </setting>
            <setting name="LunchEnd" serializeAs="String">
                <value>13:00</value>
            </setting>
            <setting name="RestInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="IsRestEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreOffWorkMins" serializeAs="String">
                <value>30</value>
            </setting>
        </CyberSlacker.Properties.Settings>
        <CyberSlacker.Properties.Temp>
            <setting name="设置" serializeAs="String">
                <value />
            </setting>
        </CyberSlacker.Properties.Temp>
        <CyberSlacker.AppConfig>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BeginTime" serializeAs="String">
                <value>08:30</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>17:30</value>
            </setting>
            <setting name="PayDay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MealTime" serializeAs="String">
                <value>11:50</value>
            </setting>
            <setting name="WorkMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HolidayCacheJson" serializeAs="String">
                <value />
            </setting>
            <setting name="LastHolidayUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaydayStrategy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="IsLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LunchStart" serializeAs="String">
                <value>12:00</value>
            </setting>
            <setting name="LunchEnd" serializeAs="String">
                <value>13:00</value>
            </setting>
            <setting name="RestInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="IsRestEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreOffWorkMins" serializeAs="String">
                <value>30</value>
            </setting>
        </CyberSlacker.AppConfig>
        <CyberSlacker.Temp>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>17:30</value>
            </setting>
            <setting name="PayDay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BeginTime" serializeAs="String">
                <value>8:30</value>
            </setting>
        </CyberSlacker.Temp>
    </userSettings>
</configuration>